@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  }

  .brand-logo {
    background: linear-gradient(
          to top left,
          transparent 51%,
          rgba(255, 0, 0, 0) 30%,
          #f7f7f7 48%,
          #fff 58.5%
        )
        no-repeat,
      linear-gradient(to top left, transparent 0.1%, #fff 0.1%) no-repeat;
    background-size: 45% 172%, 68% 112%;
    background-position: 93% 0%, 0% 0%;
    padding: 58px 58px;
    margin: 0px;
  }

  .navbar-default {
    margin-left: -65px;
  }

  .menu-links > li::before {
    content: "\f101";
    color: #8c8c8c;
    font-family: "fontawesome";
    font-weight: bold;
    left: 0;
    margin-right: 6px;
    position: absolute;
    background: transparent !important;
    opacity: 0.7;
    top: 0;
  }

  .box-shadow-sm {
    box-shadow: 0px 0px 20px 5px #f1f5f9;
  }

  .hero-temp-bg {
    animation: translate-right 1s ease-in-out 0s 1 normal forwards;
  }

  .hero-text-group {
    animation: translate-left 1s ease-in-out 0s 1 normal forwards;
  }

  .hero-img-group {
    animation: translate-bottom 1s ease-in-out 0s 1 normal forwards;
  }

  .rounded-t-5xl {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
  .rounded-b-5xl {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  ul.filter-list > li > input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  ul.filter-list > li > label {
    padding-left: 30px;
  }

  ul.filter-list > li > label::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    left: 0;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    cursor: pointer;
  }

  ul.filter-list > li > input[type="checkbox"]:checked + label::before {
    border-color: #252525;
    background-color: #252525;
  }

  .sale-banner::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: "";
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  .sale-banner::after {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: "";
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  .sale-banner:hover::before {
    transform: scale(1, 1);
    opacity: 1;
  }
  .sale-banner:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }

  .scale-animation {
    animation: scaleAnimation 2s ease infinite normal forwards;
  }
}

/* Animation  */
@keyframes scaleAnimation {
  0% {
    transform: scale(50%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(50%);
  }
}

@keyframes translate-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translate-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
